In [183]:
import pandas as pd
import numpy as np

In [184]:
df =  pd.read_csv('../data/raw/employment_vic.csv')

df.head

<bound method NDFrame.head of            Unnamed: 0 Employed total ;  Persons ;  \
0                Unit                         000
1         Series Type                       Trend
2           Data Type                       STOCK
3           Frequency                       Month
4    Collection Month                           1
..                ...                         ...
539           4月-2022                         NaN
540           5月-2022                         NaN
541           6月-2022                         NaN
542           7月-2022                         NaN
543           8月-2022                         NaN

    Employed total ;  Persons ;.1 Employed total ;  Persons ;.2  \
0                             000                           000
1             Seasonally Adjusted                      Original
2                           STOCK                         STOCK
3                           Month                         Month
4                               1                             1
..                            ...                           ...
539                        3545.4                        3539.4
540                        3523.7                        3543.3
541                        3544.6                        3551.7
542                        3525.9                        3521.6
543                        3525.2                        3502.4

    Employed total ;  > Males ; Employed total ;  > Males ;.1  \
0                           000                           000
1                         Trend           Seasonally Adjusted
2                         STOCK                         STOCK
3                         Month                         Month
4                             1                             1
..                          ...                           ...
539                         NaN                        1875.9
540                         NaN                        1865.1
541                         NaN                        1875.3
542                         NaN                        1861.6
543                         NaN                        1851.9

    Employed total ;  > Males ;.2 Employed total ;  > Females ;  \
0                             000                           000
1                        Original                         Trend
2                           STOCK                         STOCK
3                           Month                         Month
4                               1                             1
..                            ...                           ...
539                        1873.0                           NaN
540                        1874.5                           NaN
541                        1876.9                           NaN
542                        1858.9                           NaN
543                        1841.4                           NaN

    Employed total ;  > Females ;.1 Employed total ;  > Females ;.2  ...  \
0                               000                             000  ...
1               Seasonally Adjusted                        Original  ...
2                             STOCK                           STOCK  ...
3                             Month                           Month  ...
4                                 1                               1  ...
..                              ...                             ...  ...
539                          1669.5                          1666.4  ...
540                          1658.7                          1668.8  ...
541                          1669.3                          1674.8  ...
542                          1664.3                          1662.8  ...
543                          1673.2                          1661.0  ...

    Participation rate ;  > Males ;.2 Participation rate ;  > Females ;  \
0                             Percent                           Percent
1                            Original                             Trend
2                             PERCENT                           PERCENT
3                               Month                             Month
4                                   1                                 1
..                                ...                               ...
539                              72.5                               NaN
540                              72.3                               NaN
541                              72.1                               NaN
542                              71.4                               NaN
543                              71.2                               NaN

    Participation rate ;  > Females ;.1 Participation rate ;  > Females ;.2  \
0                               Percent                             Percent
1                   Seasonally Adjusted                            Original
2                               PERCENT                             PERCENT
3                                 Month                               Month
4                                     1                                   1
..                                  ...                                 ...
539                                62.6                                62.6
540                                62.0                                62.3
541                                62.2                                62.3
542                                61.9                                61.7
543                                62.7                                62.1

    Not in the labour force (NILF) ;  Persons ;  \
0                                           000
1                                      Original
2                                         STOCK
3                                         Month
4                                             1
..                                          ...
539                                      1782.0
540                                      1793.7
541                                      1796.0
542                                      1829.8
543                                      1825.7

    Not in the labour force (NILF) ;  > Males ;  \
0                                           000
1                                      Original
2                                         STOCK
3                                         Month
4                                             1
..                                          ...
539                                       738.3
540                                       743.0
541                                       747.7
542                                       765.7
543                                       772.4

    Not in the labour force (NILF) ;  > Females ;  \
0                                             000
1                                        Original
2                                           STOCK
3                                           Month
4                                               1
..                                            ...
539                                        1043.7
540                                        1050.7
541                                        1048.3
542                                        1064.1
543                                        1053.3

    Civilian population aged 15 years and over ;  Persons ;  \
0                                                  000
1                                             Original
2                                                STOCK
3                                                Month
4                                                    1
..                                                 ...
539                                             5481.1
540                                             5470.3
541                                             5459.6
542                                             5460.8
543                                             5461.9

    Civilian population aged 15 years and over ;  > Males ;  \
0                                                  000
1                                             Original
2                                                STOCK
3                                                Month
4                                                    1
..                                                 ...
539                                             2689.0
540                                             2683.7
541                                             2678.5
542                                             2679.1
543                                             2679.7

    Civilian population aged 15 years and over ;  > Females ;
0                                                  000
1                                             Original
2                                                STOCK
3                                                Month
4                                                    1
..                                                 ...
539                                             2792.1
540                                             2786.6
541                                             2781.1
542                                             2781.7
543                                             2782.2

[544 rows x 85 columns]>

In [185]:
df.drop(columns=["Employed total ;  > Females ;"])

,Unnamed: 0,Employed total ; Persons ;,Employed total ; Persons ;.1,Employed total ; Persons ;.2,Employed total ; > Males ;,Employed total ; > Males ;.1,Employed total ; > Males ;.2,Employed total ; > Females ;.1,Employed total ; > Females ;.2,> Employed full-time ; Persons ;,...,Participation rate ; > Males ;.2,Participation rate ; > Females ;,Participation rate ; > Females ;.1,Participation rate ; > Females ;.2,Not in the labour force (NILF) ; Persons ;,Not in the labour force (NILF) ; > Males ;,Not in the labour force (NILF) ; > Females ;,Civilian population aged 15 years and over ; Persons ;,Civilian population aged 15 years and over ; > Males ;,Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Trend,Seasonally Adjusted,Original,Trend,Seasonally Adjusted,Original,Seasonally Adjusted,Original,Trend,...,Original,Trend,Seasonally Adjusted,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,4月-2022,NaN,3545.4,3539.4,NaN,1875.9,1873.0,1669.5,1666.4,NaN,...,72.5,NaN,62.6,62.6,1782.0,738.3,1043.7,5481.1,2689.0,2792.1
540,5月-2022,NaN,3523.7,3543.3,NaN,1865.1,1874.5,1658.7,1668.8,NaN,...,72.3,NaN,62.0,62.3,1793.7,743.0,1050.7,5470.3,2683.7,2786.6
541,6月-2022,NaN,3544.6,3551.7,NaN,1875.3,1876.9,1669.3,1674.8,NaN,...,72.1,NaN,62.2,62.3,1796.0,747.7,1048.3,5459.6,2678.5,2781.1
542,7月-2022,NaN,3525.9,3521.6,NaN,1861.6,1858.9,1664.3,1662.8,NaN,...,71.4,NaN,61.9,61.7,1829.8,765.7,1064.1,5460.8,2679.1,2781.7
543,8月-2022,NaN,3525.2,3502.4,NaN,1851.9,1841.4,1673.2,1661.0,NaN,...,71.2,NaN,62.7,62.1,1825.7,772.4,1053.3,5461.9,2679.7,2782.2

In [186]:
df = df.dropna(how='any', axis=1)
df

,Unnamed: 0,Employed total ; Persons ;.1,Employed total ; Persons ;.2,Employed total ; > Males ;.1,Employed total ; > Males ;.2,Employed total ; > Females ;.1,Employed total ; > Females ;.2,> Employed full-time ; Persons ;.1,> Employed full-time ; Persons ;.2,> Employed full-time ; > Males ;.1,...,Participation rate ; > Males ;.1,Participation rate ; > Males ;.2,Participation rate ; > Females ;.1,Participation rate ; > Females ;.2,Not in the labour force (NILF) ; Persons ;,Not in the labour force (NILF) ; > Males ;,Not in the labour force (NILF) ; > Females ;,Civilian population aged 15 years and over ; Persons ;,Civilian population aged 15 years and over ; > Males ;,Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Seasonally Adjusted,Original,Seasonally Adjusted,Original,Seasonally Adjusted,Original,Seasonally Adjusted,Original,Seasonally Adjusted,...,Seasonally Adjusted,Original,Seasonally Adjusted,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,4月-2022,3545.4,3539.4,1875.9,1873.0,1669.5,1666.4,2443.1,2434.6,1527.2,...,72.6,72.5,62.6,62.6,1782.0,738.3,1043.7,5481.1,2689.0,2792.1
540,5月-2022,3523.7,3543.3,1865.1,1874.5,1658.7,1668.8,2424.6,2430.4,1504.3,...,72.0,72.3,62.0,62.3,1793.7,743.0,1050.7,5470.3,2683.7,2786.6
541,6月-2022,3544.6,3551.7,1875.3,1876.9,1669.3,1674.8,2468.3,2455.7,1517.5,...,72.1,72.1,62.2,62.3,1796.0,747.7,1048.3,5459.6,2678.5,2781.1
542,7月-2022,3525.9,3521.6,1861.6,1858.9,1664.3,1662.8,2456.6,2453.5,1506.9,...,71.6,71.4,61.9,61.7,1829.8,765.7,1064.1,5460.8,2679.1,2781.7
543,8月-2022,3525.2,3502.4,1851.9,1841.4,1673.2,1661.0,2443.2,2410.2,1500.1,...,71.5,71.2,62.7,62.1,1825.7,772.4,1053.3,5461.9,2679.7,2782.2

In [187]:
df = df[df.columns.drop(list(df.filter(regex='ales')))]
df = df[df.columns.drop(list(df.filter(regex='.1')))]

In [188]:
df = df.rename(columns=lambda x: x.replace(" ","").replace(";","").replace(">","").replace(".","").replace("2","").replace(":0",""))
df

,Unnamed,EmployedtotalPersons,Employedfull-timePersons,Employedpart-timePersons,EmploymenttopopulationratioPersons,UnemployedtotalPersons,Unemployedlookedforfull-timeworkPersons,Unemployedlookedforonlypart-timeworkPersons,UnemploymentratePersons,Unemploymentratelookedforfull-timeworkPersons,Unemploymentratelookedforonlypart-timeworkPersons,LabourforcetotalPersons,ParticipationratePersons,Notinthelabourforce(NILF)Persons
0,Unit,000,000,000,Percent,000,000,000,Percent,Percent,Percent,000,Percent,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,PERCENT,STOCK,STOCK,STOCK,PERCENT,PERCENT,PERCENT,STOCK,PERCENT,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,4月-2022,3539.4,2434.6,1104.8,64.6,159.7,105.0,54.7,4.3,4.1,4.7,3699.1,67.5,1782.0
540,5月-2022,3543.3,2430.4,1112.9,64.8,133.4,78.5,54.8,3.6,3.1,4.7,3676.7,67.2,1793.7
541,6月-2022,3551.7,2455.7,1096.0,65.1,111.9,71.0,40.9,3.1,2.8,3.6,3663.6,67.1,1796.0
542,7月-2022,3521.6,2453.5,1068.2,64.5,109.3,70.4,38.9,3.0,2.8,3.5,3630.9,66.5,1829.8
543,8月-2022,3502.4,2410.2,1092.1,64.1,133.8,83.5,50.3,3.7,3.3,4.4,3636.2,66.6,1825.7

In [189]:
df.dtypes

Unnamed                                              object
EmployedtotalPersons                                 object
Employedfull-timePersons                             object
Employedpart-timePersons                             object
EmploymenttopopulationratioPersons                   object
UnemployedtotalPersons                               object
Unemployedlookedforfull-timeworkPersons              object
Unemployedlookedforonlypart-timeworkPersons          object
UnemploymentratePersons                              object
Unemploymentratelookedforfull-timeworkPersons        object
Unemploymentratelookedforonlypart-timeworkPersons    object
LabourforcetotalPersons                              object
ParticipationratePersons                             object
Notinthelabourforce(NILF)Persons                     object
dtype: object

In [190]:
df["Unnamed"] = df["Unnamed"].str.replace("月","")

In [192]:
df.drop([0,1,2,3,4,5,6,7,8], axis=0,inplace = True)
df.reset_index(drop=True)

,Unnamed,EmployedtotalPersons,Employedfull-timePersons,Employedpart-timePersons,EmploymenttopopulationratioPersons,UnemployedtotalPersons,Unemployedlookedforfull-timeworkPersons,Unemployedlookedforonlypart-timeworkPersons,UnemploymentratePersons,Unemploymentratelookedforfull-timeworkPersons,Unemploymentratelookedforonlypart-timeworkPersons,LabourforcetotalPersons,ParticipationratePersons,Notinthelabourforce(NILF)Persons
0,2-1978,1629.0,1397.3,231.7,57.5,114.7,94.9,19.8,6.6,6.4,7.9,1743.7,61.6,1087.9
1,3-1978,1652.7,1414.8,238.0,58.3,104.4,85.4,19.0,5.9,5.7,7.4,1757.2,62.0,1078.5
2,4-1978,1664.8,1421.9,242.9,58.7,96.9,76.8,20.1,5.5,5.1,7.6,1761.6,62.1,1075.6
3,5-1978,1656.6,1422.4,234.2,58.4,100.3,79.1,21.2,5.7,5.3,8.3,1756.9,61.9,1082.2
4,6-1978,1653.6,1405.1,248.5,58.2,94.7,76.8,17.9,5.4,5.2,6.7,1748.2,61.5,1093.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,4-2022,3539.4,2434.6,1104.8,64.6,159.7,105.0,54.7,4.3,4.1,4.7,3699.1,67.5,1782.0
531,5-2022,3543.3,2430.4,1112.9,64.8,133.4,78.5,54.8,3.6,3.1,4.7,3676.7,67.2,1793.7
532,6-2022,3551.7,2455.7,1096.0,65.1,111.9,71.0,40.9,3.1,2.8,3.6,3663.6,67.1,1796.0
533,7-2022,3521.6,2453.5,1068.2,64.5,109.3,70.4,38.9,3.0,2.8,3.5,3630.9,66.5,1829.8
534,8-2022,3502.4,2410.2,1092.1,64.1,133.8,83.5,50.3,3.7,3.3,4.4,3636.2,66.6,1825.7

In [194]:
import datetime

data_1 = df.set_index('Unnamed')

data_1 = pd.date_range('1978-2-1', periods=535, freq="M")


df['Unnamed']=data_1

df.reset_index(drop=True)

,Unnamed,EmployedtotalPersons,Employedfull-timePersons,Employedpart-timePersons,EmploymenttopopulationratioPersons,UnemployedtotalPersons,Unemployedlookedforfull-timeworkPersons,Unemployedlookedforonlypart-timeworkPersons,UnemploymentratePersons,Unemploymentratelookedforfull-timeworkPersons,Unemploymentratelookedforonlypart-timeworkPersons,LabourforcetotalPersons,ParticipationratePersons,Notinthelabourforce(NILF)Persons
0,1978-02-28,1629.0,1397.3,231.7,57.5,114.7,94.9,19.8,6.6,6.4,7.9,1743.7,61.6,1087.9
1,1978-03-31,1652.7,1414.8,238.0,58.3,104.4,85.4,19.0,5.9,5.7,7.4,1757.2,62.0,1078.5
2,1978-04-30,1664.8,1421.9,242.9,58.7,96.9,76.8,20.1,5.5,5.1,7.6,1761.6,62.1,1075.6
3,1978-05-31,1656.6,1422.4,234.2,58.4,100.3,79.1,21.2,5.7,5.3,8.3,1756.9,61.9,1082.2
4,1978-06-30,1653.6,1405.1,248.5,58.2,94.7,76.8,17.9,5.4,5.2,6.7,1748.2,61.5,1093.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,2022-04-30,3539.4,2434.6,1104.8,64.6,159.7,105.0,54.7,4.3,4.1,4.7,3699.1,67.5,1782.0
531,2022-05-31,3543.3,2430.4,1112.9,64.8,133.4,78.5,54.8,3.6,3.1,4.7,3676.7,67.2,1793.7
532,2022-06-30,3551.7,2455.7,1096.0,65.1,111.9,71.0,40.9,3.1,2.8,3.6,3663.6,67.1,1796.0
533,2022-07-31,3521.6,2453.5,1068.2,64.5,109.3,70.4,38.9,3.0,2.8,3.5,3630.9,66.5,1829.8
534,2022-08-31,3502.4,2410.2,1092.1,64.1,133.8,83.5,50.3,3.7,3.3,4.4,3636.2,66.6,1825.7

In [210]:
pd.to_datetime(datestrs)
df(['2015-08-07', '2022-08-31'], dtype='datetime64[ns]', freq=None)


df['Unnamed']['2015-01-01':]

NameError: name 'datestrs' is not defined

In [212]:
df.reset_index(drop=True)
df.to_csv("../data/curated/clean_emp.csv")

In [ ]:
cols = df.columns                  
for col in cols:
    if